# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Log and data files
*.log
*.csv
*.txt
!requirements.txt

# For sub-folder recommendations check: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea

.DS_Store
